$primary-color: #fff;
$secondary-color: #000;
$thirdary-color: #0e6cff;
$danger-color: #ff8700;
$cancel-color: #FF393A;


body {
  line-height: 1.6em;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
