$primary-color: #fff;
$secondary-color: #000;
$thirdary-color: #044BD9;
$danger-color: #F27405;


body {
  line-height: 1.6em;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
