@import 'config';
@import 'utilities';
@import 'buttons';

body {
  background-color: $primary-color;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 100px;
  color: $secondary-color;

  .brand-text {
    font-size: 2em;
    font-weight: 800;
    padding-bottom: 15px;
    letter-spacing: 0.05em;
    color: $danger-color;
  }

  a {
    color: $secondary-color;
    font-weight: 500;
    font-size: 1.2em;
  }

  a:hover {
    color: $danger-color;
  }

  li {
    display: inline-block;
    padding: 0 1.5em;
  }

  .dropdown-list {
    display: flex;
    align-items: center;
    position: relative;
    height: 100px;

    ul {
      position: absolute;
      background-color: white;
      left: -60px;
      top: +60px;
      padding: 0;
      width: 200px;
      margin-top: 1em;
      border-radius: 5px;
      z-index: 1000;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      transform: translateY(-10px);
      transition: all 0.4s ease;

      a {
        color: black;
        font-size: 16px;
      }

      li {
        display: block;
        padding: 0.5em;
        text-align: center;
      }

      li:hover {
        background-color: lighten($danger-color, 20);
      }
    }
  }

  .dropdown-list:hover ul {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0px);
  }
}

.welcome {
  width: 80%;
  height: 70vh;
  margin: auto;
  display: flex;
  justify-content: start; 
  align-items: center;

  h1 {
    font-size: 4em;
    width: 70%;
    font-weight: bold;

    span {
      color: $danger-color;
    }
  }
}

.table {
  margin: auto;
  position: relative;
}

.form {
  width: 40%;
  display: flex;
  align-items: center;

  form {
    display: block;
    margin: auto;
    width: 300px;
    margin-top: 2em;
  }
}

.showcase {
  width: 60%;
  display: flex;
  align-items: center;
  justify-self: start;

  h1 {
    font-size: 3em;
    width: 80%;
    font-weight: bold;
  }
}

.subCategories-section, .detail-section{
  margin-top: .5em;
  position: absolute;
}

.detail-section{
  background-color: rgb(240, 240, 240);
}

.subCategories-section{
  width: 70%;
}