$main-color : #0e6cff;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    width: 90%;
    margin: 0 auto;
    margin-top: 3em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.annoucement{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1em;

    width: 100%;

    span{
        color: $main-color;
    }

    & + button{
        align-self: flex-start;
    }
}

.filter-section{
    margin-bottom: 1em;
    width: 100%;

    form{
        width: 100%;
        display: flex;
    }

    label{
        font-weight: 700;
        margin: 0;
        margin-right: .6em;
        padding: .4em;
    }

    select{
        width: 200px;
        margin-right: 1em;
    }

    button{
        width: 200px;
    }
}

.course-container{
    width: 100%;    
    .card{
        margin-bottom: 1em;
        box-shadow: .25em .25em .3em rgba(0, 0, 0, .05);

        width: 100%;

        display: flex;
        flex-direction: row;

        height: 170px;

        overflow: hidden;
    }

    img{
        height: 100%px;
        width: 250px;
        cursor: pointer;
    }

    .card-body{
        display: flex;
        flex-direction: column;

        margin-left: 2em;
        padding-right: 5em;

        width: 100%;

        &::after{
            content: "";
            position: absolute;
            right: 3%;
            top: 0%;
            width: 40px;
            height: 90%;

            background-color: $main-color;
        }

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .card-title, .card-text{
        width: 100%;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.paginate-section{
    .active{
        background-color: $main-color;
        color: white;
    }
}

.course-price{
    font-size: 1.25rem;
    margin-top: .75em;

    font-weight: 700;
}

.fa{
    color: $main-color
}