$main-color : #0e6cff;

.main-container{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

span{
    color: $main-color;
}

.btn-primary{
    background-color: $main-color;
}

.handle-section{
    margin-top: 2em;
    width: 15%;

    .buy-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    
        h2{
            font-weight: 700;
        }

        a{
            margin-bottom: .75em;
            width: 100%;
        }
    }
}

.information-section{
    margin-top: 2em;
    margin-bottom: 3em;

    width: 55%;

    display: flex;
    flex-direction: column;
    width: 100%;

    a{
        text-decoration: none;
    }

    .text-section{
        margin-left: 2em;
        display: flex;
        flex-direction: column;
        width: 100%;

        h2{
            font-weight: 700;
            padding: 0;
            margin: 0;

            margin-right: 2em;
        }

        .title{
            display: flex;
        }

        p, :not(.card-text p){
            font-style: italic;
            margin : 0;
        }

        .card{
            box-shadow: .25em .25em .3em rgba(0, 0, 0, .05);

            .card-title{
                font-weight: 700;
            }
        }
    }

    .lectures-section, .viewfeedback-section, .suggest-section{
        margin-left: 2em;
        margin-top: 3em;
    }

    .section-title{
        margin-bottom: .5em;
    }

    .viewfeedback-section, .suggest-section{
        .section-title{
            font-size: 1.5rem;
            font-weight: 700;
        }
    }

    .lectures-section{
        th {
            border-top: none;
        }
        .section-title{
            font-size: 1.5rem;
            font-weight: 700;
        }
    }

    .suggest-section{
        .section-content{
            display: flex;
            flex-direction: column;
        }

        .course-price{
            font-size: 1.25rem;
            margin-top: .5em;

            font-weight: 700;
        }

        .card{
            box-shadow: .25em .25em .3em rgba(0, 0, 0, .05);
            cursor: pointer;

            margin-bottom: 1em;

            width: 100%;

            display: flex;
            flex-direction: row;

            height: 170px;
        }

        img{
            height: 100%px;
            width: 250px;

            border-top-left-radius: .25rem;
            border-bottom-left-radius: .25rem;
        }

        .card-body{
            display: flex;
            flex-direction: column;

            margin-left: 2em;

            &::after{
                content: "";
                position: absolute;
                right: 3%;
                top: 0%;
                width: 40px;
                height: 90%;
    
                background-color: $main-color;
            }
        }

        .card-title, .card-text{
            width: 100%;
            text-align: left;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

.decoration-rectangle{
    width: 8%;
    height: 100%;

    top: 0;
    transform: translateX(50%);

    position: fixed;
    background-color: $main-color;
    z-index: -10;

    &::after{
        content: "";
        position: absolute;
        bottom: 0%;

        width: 100%;
        height: 80px;
        background-color: white;
    }
}

.img-container{
    
    margin-top: 2em;
    margin-right: 2em;

    width: 40%;
    height: 350px;
    overflow: hidden;

    img{
        width: 100%;
        height: auto;

        border-radius: .25rem;
    }
}

.viewfeedback-section{
    .card-title, .card-text{
        width: 100%;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .card{
        margin-bottom: 1em;
        box-shadow: .25em .25em .3em rgba(0, 0, 0, .05);
    }

    span{
        color: $main-color;
    }

    .card-title{
        font-weight: 700;
        margin: 0;
    }

    .card-text-container{
        margin-top: .25em;
        display: flex;
        align-items: center;
    }
    
    .square{
        width: 30px;
        height: 3px;
        position: relative;
        
        background-color: $main-color;
        margin-right: .5em;
        margin-left: .25em;

        &::before{
            content: '';
            width: 3px;
            height: 10px;

            position: absolute;
            bottom: 100%;

            background-color: $main-color;
        }
    }
}

.givefeedback-section{
    margin-left: 2em;
    margin-top: 1em;
    box-shadow: .25em .25em .3em rgba(0, 0, 0, .05);

    .stars{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    
        .btn{
            background-color: transparent;
            color: $main-color;
            margin-right: .5em;
        }
    
        margin-bottom: .5em;
    }

    input{
        margin-bottom: .5em;
    }

    .card-body > button{
        margin-top: .5em;
    }
}

.modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 720px;
    height: 360px;
    background-color: white;
}

.modal-content{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.close {
    margin-top: 1em;
}

.fa{
    color: $main-color;
}

@media (max-width:  700px){
    .decoration-rectangle{
        display: none;
    }

    .card-body{
        &::after{
            display: none;
        }
    }
}