$main-color : #0e6cff;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

b{
    font-weight: 550;
}

body{
    min-height: 100vh;
}

.navbar{
    position: sticky;
    z-index: 1;
    box-shadow: 0em .2em .2em rgba(0,0,0,.2);
    background-color: white;

    height: 10vh;

    .navbar-brand{
        font-size: 1.7rem;
        font-weight: 700;
        color: $main-color;
    }
}

#navbarMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 1em;

    .navbar-nav{
        li.nav-item{
            margin-right: .5em;
            .nav-link{
                color: black;

                &:hover{
                    color: $main-color;
                }
            }
        }
    }
}

.dropdown-item{
    a{
        color: black;
        text-decoration: none;

        &:hover{
            color: $main-color;
        }
    }

    .card{
        border: 1px solid rgba(0,0,0,.15);

        .card-body{
            display: flex;
            flex-direction: column;

            a{
                margin-bottom: .5em;
            }
        }
    }
}

form{
    display: flex;
    width: 50%;

    button{
        margin-left: .5em;
    }
}

.auth-control{
    button{
        margin-left: .5em;
    }

    a{
        text-decoration: none;
    }
}

.dropdown-menu{
    position: relative;
}
.subcate-section{
    display: none;
    position: absolute;
    left: 100%;
    top: 0%;
    background-color: white;
}

.footer{
    background-color: $main-color;
    width: 100%;
    height: 10vh;
    bottom: 0%;

    z-index: 2;
}

.btn{
    &:focus{
        border: none !important;
        box-shadow: none !important;
    }
}

.main-container{
    min-height: 80vh;
}