$main-color : #0e6cff;

*{
    padding: 0;
    margin: 0;
}

.main-container{
    display: flex;
    position: relative;
}

.layout-buffer{
    width: 25%;
}

.option-container{
    position: fixed;

    left: 5%;
    top: 0;
    width: 20%;
    height: 80%;

    background-color: $main-color;

    // &::after{
    //     content: "";
    //     position: absolute;
    //     bottom: 0%;

    //     width: 100%;
    //     height: 100px;
    //     background-color: white;
    // }

    .button-container{
        display: flex;
        flex-direction: column;

        margin-top: 6.5em;

        a{
            border: none;
            outline: none;
            background-color: $main-color;
        }
    }
}

.fa-flag{
    position: absolute;
    right: 0%;

    transform: translate(50%, 0%);

    color: $main-color;
}

.information-container{
    padding-left: 5em;
    color: black;

    width: 70%;

    .personal-information-section{
        div{
            font-size: 1rem;
        }

        .name{
            font-size: 3.5rem;
            font-weight: 700;
        }
    }

    .courses-section{
        margin-top: 3em;
        display: flex;
        flex-direction: column;
    
        .section-title{
            display: flex;
            align-items: center;

            margin-bottom: 1em;

            h4{
                font-weight: 700;
                margin-right: 2em;
            }

            button{
                margin-bottom: .75em;

                font-size: .75rem;
                
                width: 100px;
                height: 30px;
            }
        }
    
        .section-content{
            display: flex;
            flex-direction: column;
            overflow: hidden;

            max-height: 110px;
        }

        .card{
            box-shadow: .2em .2em .2em rgba(0,0,0,.2);
            cursor: pointer;

            margin-bottom: .5em;

            width: 100%;
            height: 105px;
        }

        .card-body{
            display: flex;
            flex-direction: column;

            padding-right: 80px;

            &::after{
                content: '';
                position: absolute;
                right: 30px;
                top: 0%;

                width: 30px;
                height: 80%;

                background-color: $main-color;
            }
        }

        .card-title, .card-text{
            width: 100%;
            text-align: left;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}