{{#section 'scripts'}}
<script>
function isExistEmptyField(fields) {
  const length = fields.length;
  for (let i = 0; i < length; i++) {
    if (fields[i].length === 0) {
      return true;
    }
  }

  return false;
}

  $("#formChangePassword").on("submit", function (e) {
  e.preventDefault();

  const currentPassword = $("#txtCurrentPassword").val();
  const newPassword = $("#txtNewPassword").val();
  const confirmNewPassword = $("#txtConfirmNewPassword").val();
  const fields = [];
  fields.push(currentPassword);
  fields.push(newPassword);
  fields.push(confirmNewPassword);
  

  if (isExistEmptyField(fields)) {
    alert(`is exits empty field`);
    return;
  }

  if(newPassword !== confirmNewPassword) {
        alert(`confirm password is not match!`);
        return;
  }  

  $.getJSON(`/account/password-is-correct?password=${currentPassword}`, function (data) {
    if(data.isCorrectPassword) {
      $('#formChangePassword').off('submit').submit();
    }else {
      alert('current password is wrong!');
    }
  });
});
</script>
{{/section}}

<form action="" method="POST" id="formChangePassword">
  <div class="card mx-auto login-form" style="width: 40%;">
    <div class="card-body">
			<div class="mb-3">
  			<label for="txtCurrentPassword" class="form-label">Current password</label>
        <input type="password" name="currentPassword" class="form-control"
        id="txtCurrentPassword" placeholder="">
			</div>
			<div class="mb-3">
  			<label for="txtNewPassword" class="form-label">New password</label>
        <input type="password" name="newPassword" class="form-control"
        id="txtNewPassword" placeholder="">
			</div>
			<div class="mb-3">
  			<label for="txtConfirmNewPassword" class="form-label">Confirm new password</label>
        <input type="password" name="confirmNewPassword" class="form-control"
        id="txtConfirmNewPassword" placeholder="">
			</div>
      <button type="submit" class="btn btn-primary">Change password</button>
      <a href="javascript:history.back()" class="btn btn-danger">Cancel</a>
    </div>
  </div>
</form>
