{{#section 'scripts'}}
<script>
  let toastElList = [].slice.call(document.querySelectorAll('.toast'));
  let toastList = toastElList.map(function (toastEl) {
      return new bootstrap.Toast(toastEl);
  });

  toastList[0].show();
</script>
{{/section}}

<div class="auth-container">
        {{#if err_message}}
				<div class="toast" data-autohide="false" data-animation="true" role="alert" aria-live="assertive" aria-atomic="true">
  				<div class="toast-header">
    				<strong class="me-auto">Notification</strong>
    				<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  				</div>
          <div class="toast-body">{{err_message}}</div>
				</div>
        {{/if}}
  <form action="" method="POST">
    <div class="login-form">
       	<h1>Login</h1> 
        <div class="mb-3">
          <label class="form-label">Role</label>
          <select class="form-select" name="role" aria-label="Default select example">
            <option selected value="student">Student</option>
            <option value="teacher">Teacher</option>
            <option value="admin">Admin</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="txtUsername" class="form-label">Username</label>
          <input type="text" name="username" class="form-control" id="txtUsername" placeholder="">
        </div>
        <div class="mb-3">
          <label for="txtPassword" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="txtPassword" placeholder="">
        </div>
        <button type="submit" class="btn-login">Login</button>
        <p>Not a member? <a href="/account/register">Signup</a></p>
    </div>
  </form>
	<div class="thumbnail">
    <h1>Starting your educational path and <span>enjoy!</span></h1>
	</div>	
</div>
