<div>{{name}}</div>

{{#each joinedCourses}}
<div>{{title}}</div>
{{/each}}

{{#each watchList}}
<div>{{title}}</div>
{{/each}}

<a href="/account/change-password" class="btn btn-secondary">Change password</a>
<a href="/account/change-personal-info" class="btn btn-primary">Change personal info</a>