{{#section 'scripts'}}
<script>

function isExistEmptyField(fields) {
  const length = fields.length;
  for (let i = 0; i < length; i++) {
    if (fields[i].length === 0) {
      return true;
    }
  }

  return false;
}

$("#formRegister").on("submit", function (e) {
  e.preventDefault();

  const username = $("#txtUsername").val();
  const password = $("#txtPassword").val();
  const name = $("#txtName").val();
  const email = $("#txtEmail").val();
  const fields = [];
  fields.push(username);
  fields.push(password);
  fields.push(name);
  fields.push(email);

  let toastElList = [].slice.call(document.querySelectorAll('.toast'));
  let toastList = toastElList.map(function (toastEl) {
      return new bootstrap.Toast(toastEl);
  });


  if (isExistEmptyField(fields)) {
    document.getElementById("toast-content").innerHTML = "Do not leave fields empty!"; 
    toastList[0].show();
    return;
  }

  $.getJSON(`/account/is-available?username=${username}&email=${email}`, function (data) {
    if(data.isUsernameExist) {
      document.getElementById("toast-content").innerHTML = "Username is existed!"; 
      toastList[0].show();
    }else if(data.isEmailExist) {
      document.getElementById("toast-content").innerHTML = "Email is existed!"; 
      toastList[0].show();
    }else {
      $('#formRegister').off('submit').submit();
    }
  });
});
</script>
{{/section}} 


<div class="auth-container">
				<div class="toast" data-autohide="false" data-animation="true" role="alert" aria-live="assertive" aria-atomic="true">
  				<div class="toast-header">
    				<strong class="me-auto">Notification</strong>
    				<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  				</div>
          <div id="toast-content" class="toast-body">Hello!</div>
				</div>
  <form action="" method="POST" id="formRegister">
      <div class="card mx-auto login-form register">
        <div class="card-body">
       	<h1>Signup</h1> 
          <div class="mb-3">
            <label for="txtUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="txtUsername" name="username">
          </div>  
          <div class="mb-3">
            <label for="txtPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="txtPassword" name="password">
          </div>  
          <div class="mb-3">
            <label for="txtName" class="form-label">Your name</label>
            <input type="text" class="form-control" id="txtName" name="name">
          </div>  
          <div class="mb-3">
            <label for="txtEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="txtEmail" name="email">
          </div>  
          <button type="submit" class="btn-signup">Register</button>
          <p>Have an account? <a href="/account/login" class="login">Login</a></p>
        </div>
      </div>
  </form>
	<div class="thumbnail-signup">
    <h1>Starting your educational path and <span>enjoy!</span></h1>
	</div>	
</div>
