<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layouts/main.css">

    {{#each css}}
        <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Online Academy</title>
</head>
<body>
    <div class="head-container">
        <div>
            <div>
                <span>/logo/</span>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li class="dropdown">
                            <div>Courses</div>
                            <div class="dropdown-content">
                                <div class="dropdown-item">Business</div>
                                <div class="dropdown-item">IT</div>
                                <div class="dropdown-item">Design</div>
                                <div class="dropdown-item">Marketing</div>

                            </div>
                        </li>
                        <li><a href="">Account</a></li>
                    </ul>
                </nav>
            </div>
            <form>
                <input type="text" name="search" id="Search" placeholder="Type something...">
            </form>
        </div>

        <button class="login-btn"><a href="/authen/login">Login</a></button>
    </div>

    {{{body}}}

    {{#each js}}
        <script src="/js/{{this}}"></script>
    {{/each}}
</body>

</html>