<link rel="stylesheet" href="/css/home.css">
<div class="body">
    <p class="welcome-text">WELCOME TO ONLINE ACADEMY</p>
    <div class="remarkable-course-container">
        <p>REMARKABLE COURSES</p>
        <div class="slideshow-container">
            <img class="image" style="background-color:gray;" src="" alt="">
            <div class="btn">
                <button class="prevBtn slideshow-button">&lt;</button>
                <button class="nextBtn slideshow-button">&gt;</button>
            </div>
        </div>
    </div>

    <div class="most-viewed-course-container">
        <p>MOST VIEWED COURSES</p>
        <div class="collection">
            <div class="collection-item">
                    
            </div>
        </div>
    </div>
</div>