<link rel="stylesheet" href="/css/home.css">
<div class="body">
    <p class="welcome-text">WELCOME TO ONLINE ACADEMY</p>
    <div class="remarkable-course-container">
        <p>REMARKABLE COURSES</p>
        <div class="slideshow-container">
            <img class="image" src="" alt="">
            <button class="prevBtn slideshow-button">&lt;</button>
            <button class="nextBtn slideshow-button">&gt;</button>
        </div>
    </div>

    <div class="courses-container">
        <p>MOST VIEWED COURSES</p>
        <ul class="collection">
            <li class="collection-item">
                <button class="course-btn">
                    <img class="course-img" src="" alt="">
                    <div class="course-infor">
                        <p class="course-title">course title</p>
                        <p class="course-field">field</p>
                        <p class="course-lecturer">lecturer</p>
                        <p class="course-price">300.000VND</p>
                    </div>
                </button>
            </li>
        </ul>
    </div>

    <div class="courses-container">
        <p>NEWEST COURSES</p>
        <ul class="collection">
            <li class="collection-item">
                <button class="course-btn">
                    <img class="course-img" src="" alt="">
                    <div class="course-infor">
                        <p class="course-title">course title</p>
                        <p class="course-field">field</p>
                        <p class="course-lecturer">lecturer</p>
                        <p class="course-price">300.000VND</p>
                    </div>
                </button>
            </li>
        </ul>
    </div>

    <div class="courses-container">
        <p>TOP CATEGORY</p>
        <ul class="collection">
            <li class="collection-item">
                <button class="course-btn">
                    <img class="category-img" src="" alt="">
                </button>
            </li>
        </ul>
    </div>
</div>