.main-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

span {
  color: #0e6cff;
}

.btn-primary {
  background-color: #0e6cff;
}

.handle-section {
  position: fixed;
  background-color: #0e6cff;
  right: 5%;
  margin-top: 2em;
  width: 15%;
  box-shadow: 0.25em 0.25em 0.3em rgba(0, 0, 0, 0.15);
}
.handle-section .buy-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.handle-section .buy-section h2 {
  font-weight: 700;
}
.handle-section .buy-section a {
  margin-bottom: 0.75em;
  width: 100%;
  background-color: white;
  color: #0e6cff;
}

#showMoreBtn {
  display: block;
  cursor: pointer;
  margin-bottom: 0.5em;
}

.information-section {
  margin-top: 2em;
  margin-bottom: 3em;
  width: 55%;
  display: flex;
  flex-direction: column;
}
.information-section a {
  text-decoration: none;
}
.information-section .text-section {
  padding-left: 2em;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.information-section .text-section .title {
  display: flex;
  margin-bottom: 0.5em;
}
.information-section .text-section .title div, .information-section .text-section .title .course-title {
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-right: 2em;
}
.information-section .text-section .title .course-title {
  font-size: 2.25rem;
}
.information-section .text-section p, .information-section .text-section :not(.card-text p) {
  font-style: italic;
  margin: 0;
}
.information-section .text-section .card {
  box-shadow: 0.25em 0.25em 0.3em rgba(0, 0, 0, 0.05);
  margin-top: 2em;
  width: 100%;
}
.information-section .text-section .card .card-title {
  font-weight: 700;
  color: #0e6cff;
}
.information-section .text-section .card .card-body {
  max-height: 250px;
  overflow: hidden;
}
.information-section .lectures-section, .information-section .viewfeedback-section, .information-section .suggest-section {
  margin-left: 2em;
  margin-top: 3em;
}
.information-section .section-title {
  margin-bottom: 0.5em;
}
.information-section .viewfeedback-section .section-title, .information-section .suggest-section .section-title {
  font-size: 1.5rem;
  font-weight: 700;
}
.information-section .lectures-section th {
  border-top: none;
}
.information-section .lectures-section .section-title {
  font-size: 1.5rem;
  font-weight: 700;
}
.information-section .suggest-section .section-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.information-section .suggest-section .section-content img {
  height: 170px;
  width: 250px;
  cursor: pointer;
}
.information-section .suggest-section .section-content .card {
  margin-bottom: 1em;
  box-shadow: 0.25em 0.25em 0.3em rgba(0, 0, 0, 0.05);
  width: 100%;
  display: flex;
  flex-direction: row;
}
.information-section .suggest-section .section-content .card-body {
  display: block;
  margin-left: 2em;
  padding-right: 5em;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.information-section .suggest-section .section-content .card-body::after {
  content: "";
  position: absolute;
  right: 3%;
  top: 0%;
  width: 40px;
  height: 90%;
  background-color: #0e6cff;
}
.information-section .suggest-section .section-content .card-title, .information-section .suggest-section .section-content .card-text {
  width: 100%;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.information-section .suggest-section .course-price {
  font-size: 1.25rem;
  margin-top: 0.5em;
  font-weight: 700;
}

.decoration-rectangle {
  width: 8%;
  height: 100%;
  top: 0;
  transform: translateX(50%);
  position: fixed;
  background-color: #0e6cff;
  z-index: -10;
  display: flex;
  flex-direction: column;
}
.decoration-rectangle::after {
  content: "";
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 80px;
  background-color: white;
}
.decoration-rectangle div {
  width: 100%;
  text-align: center;
  color: white;
}
.decoration-rectangle .reviewPoint {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 7.75em;
}
.decoration-rectangle .reviewCount {
  margin-top: 0.75em;
  font-weight: 350;
  font-size: 0.75rem;
}

.img-container {
  margin-top: 2em;
  margin-right: 2em;
  width: 200px;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
}

.viewfeedback-section .card-title, .viewfeedback-section .card-text {
  width: 100%;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.viewfeedback-section .card {
  margin-bottom: 1em;
  box-shadow: 0.25em 0.25em 0.3em rgba(0, 0, 0, 0.05);
}
.viewfeedback-section span {
  color: #0e6cff;
}
.viewfeedback-section .card-title {
  font-weight: 700;
  margin: 0;
}
.viewfeedback-section .card-text-container {
  margin-top: 0.25em;
  display: flex;
  align-items: center;
}
.viewfeedback-section .square {
  width: 30px;
  height: 3px;
  position: relative;
  background-color: #0e6cff;
  margin-right: 0.5em;
  margin-left: 0.25em;
}
.viewfeedback-section .square::before {
  content: "";
  width: 3px;
  height: 10px;
  position: absolute;
  bottom: 100%;
  background-color: #0e6cff;
}

.givefeedback-section {
  margin-left: 2em;
  margin-top: 1em;
  box-shadow: 0.25em 0.25em 0.3em rgba(0, 0, 0, 0.05);
}
.givefeedback-section .stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 0.5em;
}
.givefeedback-section .stars .btn {
  background-color: transparent;
  color: #0e6cff;
  margin-right: 0.5em;
}
.givefeedback-section input {
  margin-bottom: 0.5em;
}
.givefeedback-section .card-body > button {
  margin-top: 0.5em;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 720px;
  height: 360px;
  background-color: white;
}

.modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.close {
  margin-top: 1em;
}

.fa {
  color: #0e6cff;
}

@media (max-width: 700px) {
  .decoration-rectangle {
    display: none;
  }

  .card-body::after {
    display: none;
  }
}

/*# sourceMappingURL=detailCourse.css.map */
