{{#section 'scripts'}}
<script>
  $('#categoryForm').on("submit", function(e) {
      e.preventDefault();

      const categoryName = $('#txtCategoryName').val();
      const categoryDetail = $('#txtCategoryDetail').val();

      if(categoryName.length === 0 || categoryDetail.length === 0) {
        alert(`Please fill all infomation before submit`);
        return;
      }

      $.getJSON(`/admin/categories/check?name=${categoryName}`, function(data) {
          if(data.isExist) {
              alert(`Category name is existed!`);
          } else {
              $("#categoryForm").off("submit").submit();
          }
      })

  });
</script>
{{/section}}

<div class="form-container">
  <div class="showcase">
    <h1>Add a new category, start a new journey!</h1>
  </div>
  <div class="form">
    <form id="categoryForm" action="" method="POST">
      <div class="mb-3">
        <label for="txtCategoryName" class="form-label">Category's name</label>
        <input type="text" name="name" class="form-control" id="txtCategoryName" placeholder="">
      </div>

      <div class="mb-3">
        <label for="txtCategoryDetail" class="form-label">Category Detail</label>
        <textarea class="form-control" id="txtCategoryDetail"
          name="detail" rows="3"></textarea>
      </div>

      <button type="submit" class="btn-login">Create</button>
      <a href="/admin/categories" class="cancel">Cancel</a>
    </form>
  </div>
</div>
