{{#section 'scripts'}}
<script>
function isExistEmptyField(fields) {
  const length = fields.length;
  for (let i = 0; i < length; i++) {
    if (fields[i].length === 0) {
      return true;
    }
  }

  return false;
}

$("#formRegister").on("submit", function (e) {
  e.preventDefault();

  const username = $("#txtUsername").val();
  const password = $("#txtPassword").val();
  const name = $("#txtName").val();
  const email = $("#txtEmail").val();
  const fields = [];
  fields.push(username);
  fields.push(password);
  fields.push(name);
  fields.push(email);

  if (isExistEmptyField(fields)) {
    alert(`is exits empty field`);
    return;
  }

  $.getJSON(`/admin/teachers/is-available?username=${username}&email=${email}`, function (data) {
    if(data.isUsernameExist) {
      alert(`Username is exits in database.`);
    }else if(data.isEmailExist) {
      alert(`Email is exist in database.`);
    }else {
      $('#formRegister').off('submit').submit();
    }
  });
});
</script>
{{/section}} 


<div class="form-container">
  <div class="showcase">
    <h1>Update a category, update yourself, what?</h1>
  </div>
  <div class="form">
    <form action="" method="POST" id="formRegister">
	    <div class="mb-3">
        <label for="txtUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="txtUsername" name="username">
      </div>  
	    <div class="mb-3">
        <label for="txtPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="txtPassword" name="password">
      </div>  
	    <div class="mb-3">
        <label for="txtName" class="form-label">Teacher name</label>
        <input type="text" class="form-control" id="txtName" name="name">
      </div>  
	    <div class="mb-3">
        <label for="txtEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" id="txtEmail" name="email">
      </div>  
      <button type="submit" class="btn-login">Add Teacher</button>
      <a href="/admin/teachers" class="cancel">Cancel</a>
   </form>
  </div>
</div>
