<div class="card">
  <div class="card-header">Students</div>
  <div class="card-body">
		<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.students}} 
      <tr>
        <th scope="row">{{inc @index}}</th>
        <td>{{username}}</td>
        <td>
          <form style="display: inline-block;" action="/admin/students/delete" method="post">
            <input type="hidden" name="studentID" value="{{_id}}">
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
          </form>
          <button class="btn btn-sm btn-primary detail-btn">Detail</button>
          <div class="detail-section" style="display: none;">
              <div>cai nay` la` detail {{username}}</div>
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
  </div>
</div>

{{#section 'scripts'}}
<script>
  $(document).ready(() => {
    var isDetailSectionVisible = false
    $('.detail-btn').click((e) => {
      e.preventDefault()
      if (isDetailSectionVisible == false){
        $(e.target).siblings('.detail-section').css('display', 'block')
      }
      else {
        $(e.target).siblings('.detail-section').css('display', 'none')
      }

      isDetailSectionVisible = !isDetailSectionVisible
    })
  })
</script>
{{/section}}