{{#section 'scripts'}}
<script>
  $('#categoryForm').on("submit", function(e) {
      e.preventDefault();
      const categoryDetail = $('#txtCategoryDetail').val();

      if(categoryDetail.length === 0) {
        alert(`Please type new detail!`);
        return;
      }

      $('#categoryForm').off("submit").submit();
  });
</script>
{{/section}}

<form id="categoryForm"  style="display: block;" action="" method="POST">
  <div class="card mx-auto" style="width: 40%;">
    <div class="card-body">
			<div class="mb-3">
  			<label for="txtCategoryName" class="form-label">Subcategory's name</label>
        <input type="text" readonly name="name" class="form-control" id="txtCategoryName" value="{{name}}">        
			</div>

      <select class="form-select" name="parentName" id="selectLevel" aria-label="Default select example">
          {{#each categories}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
      </select>

      <div class="mb-3">
        <label for="txtCategoryDetail" class="form-label">Subcategory Detail</label>
        <textarea class="form-control" id="txtCategoryDetail" name="detail" rows="3">{{detail}}</textarea>
      </div>

      <button type="submit" class="btn btn-primary">OK</button>
      <a href="/admin/categories" class="btn btn-danger">Cancel</a>

    </div>
  </div>
</form>
