{{#section 'scripts'}}
<script>
  $('#categoryForm').on("submit", function(e) {
      e.preventDefault();
      const categoryDetail = $('#txtCategoryDetail').val();

      let toastElList = [].slice.call(document.querySelectorAll('.toast'));
      let toastList = toastElList.map(function (toastEl) {
        return new bootstrap.Toast(toastEl);
      });

      if(categoryDetail.length === 0) {
        document.getElementById("toast-content").innerHTML = "Do not leave empty detail, please!"; 
        toastList[0].show();
        return;
      }

      $('#categoryForm').off("submit").submit();
  });
</script>
{{/section}}

<div class="form-container">
  <div class="showcase">
    <h1>Update a category, update yourself, what?</h1>
  </div>
  <div class="form">
    <form id="categoryForm" action="" method="POST">
      <h1>Update category</h1>
			<div class="mb-3">
  			<label for="txtCategoryName" class="form-label">Category's name</label>
        <input type="text" readonly name="name" class="form-control"
        id="txtCategoryName" value="{{name}}">        
			</div>
      <div class="mb-3">
        <label for="txtCategoryDetail" class="form-label">Category Detail</label>
        <textarea class="form-control" id="txtCategoryDetail" name="detail" rows="3">{{detail}}</textarea>
      </div>
      <button type="submit" class="btn-login">OK</button>
      <a href="/admin/categories" class="cancel">Cancel</a>
    </form>
  </div>
</div>
<div class="toast" data-autohide="false" data-animation="true" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <strong class="me-auto">Notification</strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div id="toast-content" class="toast-body"></div>
</div>
