* {
    margin: 0;
    padding: 0;
}

.head-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    background-color: gray;

    div{
        display: flex;
        align-items: center;
        width: 60%;
        margin-left: 1%;

        form{
            margin-left: 1.5em;
            width: 70%;
    
            #Search{
                height: 2.5em;
                width: 100%;
                border-radius: 1.25em;
                padding-left: 2%;
                border: none;
    
                &:focus{
                    outline: none;
                }
            }
        }
    
        div{
            display: flex;
            align-items: center;

            span{
                font-weight: 900;
                font-size: 2rem;
                letter-spacing: 1px;
            }
        
            nav{
                margin-left: 1.5em;
    
                ul{
                    display: flex;
                    list-style-type: none;
                    justify-content: space-between;
                    width: 20%;
        
                    li{
                        margin: 0em 0.25em;
                        font-size: 1.25rem;

                        a{
                            text-decoration: none;
                            color: inherit;
                        }
        
                        &.dropdown{
                            .dropdown-content{
                                background-color: lightblue;
                                transform: translate(-11%, 7%);
                                position: absolute;
                                display: none;
                                flex-direction: column;
                                width: 10%;

                                .dropdown-item{
                                    height: 2em;
                                    width: 7em;
                                    font-size: 1rem;
                                    text-align: left;
                                }
                            }
        
                            &:hover .dropdown-content{
                                display: flex;
                            }
                        }
                    }
                }
            }
        }
    }

    .login-btn{
        margin-right: 1%;
        height: 2.5em;
        width: 5em;
        border-radius: 1.2em;
        border: none;
        outline: none;

        &:active{
            background-color: gray;
            color:white;
        }
    }
}