<div class="table-container">
  <h1 class="teacher">Course's videos</h1>
    <table class="table table-borderless table-hover">
      <thead>
        <tr>
          <th scope="col">Chapter</th>
          <th scope="col">Video title</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.videos}} 
        <tr>
          <th scope="row">{{chapterNumber}}</th>
          <td>{{title}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<div>
  <a class="btn btn-primary" href="/teacher/upload/{{courseID}}">Modify video</a>
  <a class="btn btn-danger" href="javascript:history.back()" style="display:
    inline-block;">Back</a>
</div>
</div>
